@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  color: #8b44ff;
  font-size: 12px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  background-color: #f7f8fa;
  max-width: 1440px;
  margin: auto;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  height: calc(100vh - 170px);
}
