.news {
  display: flex;
  flex-direction: column;

  .options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    border-bottom: 1px solid #cbd5e1;
    margin-bottom: 20px;
    padding-bottom: 14px;

    button {
      background: none;
    }
  }
}
